<!DOCTYPE html>
<html lang="en">

<head>
	<title>KiKiSTORE</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="aStar Fashion Template Project">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="./styles/bootstrap-4.1.3/bootstrap.css">
	<link href="./plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" href="./styles/main_styles.css">
	<link rel="stylesheet" type="text/css" href="./styles/responsive.css">
</head>

<body>

	<div class="super_container" id="page-list">

		<!-- Header -->

		<header class="header">
			<div class="header_content d-flex flex-row align-items-center justify-content-start">

				<!-- Hamburger -->
				<div class="hamburger menu_mm"><i class="fa fa-bars menu_mm" aria-hidden="true"></i></div>

				<!-- Logo -->
				<div class="header_logo">
					<a href="#">
						<div>KiKi<span>Store</span></div>
					</a>
				</div>

				<!-- Navigation -->
				<nav class="header_nav">
					<ul class="d-flex flex-row align-items-center justify-content-start">
						<li><a href="index.html">product</a></li>
						<li><a href="#">about</a></li>
					</ul>
				</nav>

				<!-- Header Extra -->
				<div class="header_extra ml-auto d-flex flex-row align-items-center justify-content-start">



					<!-- Cart -->
					<div class="cart d-flex flex-row align-items-center justify-content-start">
						<div class="cart_icon"><a href="#" data-toggle="modal" data-target="#exampleModal">
								<img src="images/bag.png" title="購物車">
								<div class="cart_num">{{list.length}}</div>
							</a></div>
						<div class="cart_price">${{totalPrice}}</div>
					</div>

				</div>

			</div>
		</header>

		<!-- Menu -->

		<div class="menu d-flex flex-column align-items-start justify-content-start menu_mm trans_400">
			<div class="menu_close_container">
				<div class="menu_close">
					<div></div>
					<div></div>
				</div>
			</div>
			<div class="menu_top d-flex flex-row align-items-center justify-content-start">



			</div>
			<div class="menu_search">
				<input type="search" class="search_input menu_mm" placeholder="輸入關鍵字" required="required" v-model="keyword">
				<button class="header_search_button d-flex flex-column align-items-center justify-content-center menu_mm"
					@click="searchProduct()">
					<i class="fa fa-search menu_mm" aria-hidden="true"></i>
				</button>
			</div>
			<nav class="menu_nav">
				<ul class="menu_mm">
					<li class="menu_mm"><a href="index.html">product</a></li>
					<li class="menu_mm"><a href="#">about</a></li>
				</ul>
			</nav>
			<div class="menu_extra">
				<div class="menu_social">
					<ul>
						<li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
					</ul>
				</div>
			</div>
		</div>

		<!-- Sidebar -->

		<div class="sidebar">

			<!-- Logo -->
			<div class="sidebar_logo">
				<a href="#">
					<div>KiKi<span>Store</span></div>
				</a>
			</div>

			<!-- Sidebar Navigation -->
			<nav class="sidebar_nav">
				<ul>
					<li><a href="index.html">product<i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
					<li><a href="#">about<i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
				</ul>
			</nav>

			<!-- Search -->
			<div class="search">
				<div class="search_form" id="sidebar_search_form">
					<input type="text" class="search_input" placeholder="輸入關鍵字" required="required" v-model="keyword">
					<button class="search_button" @click="searchProduct()"><i class="fa fa-search"
							aria-hidden="true"></i></button>
				</div>
			</div>

			<!-- Cart -->
			<div class="cart d-flex flex-row align-items-center justify-content-start">
				<div class="cart_icon"><a href="#" data-toggle="modal" data-target="#exampleModal">
						<img src="images/bag.png" title="購物車">
						<div class="cart_num">{{list.length}}</div>
					</a></div>
				<!-- <div class="cart_text">bag</div> -->
				<div class="cart_price">${{totalPrice}}</div>
			</div>
		</div>




		<!-- Products -->

		<div class="products">
			<div class="section_container">
				<div class="container">
					<div class="products_container">
						<div class="row">
							<div class="col-lg-3 col-md-4 col-sm-6 col-6" style="margin-bottom: 10px;" v-for="item in filtered_product">
								<div class="card">
									<img :src="'uploads/product/'+item.img" :title="item.name" class="card-img-top">
									<div
										style="background-color: rgba(238,77,45, 0.8); color:white; margin-top: -30px; padding:5px; width:30%; text-align: center;">
										庫存{{ item.inventory }}</div>
									<div class="card-body">
										<h5 class="card-title" style="color: #000000; min-height: 40px;" v-html="item.name"></h5>

										<div class="row">
											<div class="col-8">
												<h3 style="color: #ee4d2d;">${{ item.price }}</h3>
												<!-- <span class="card-text" style="color: #ffffff; 
													background-color: #ee4d2d; border-radius: 10px;
													padding: 2px 10px 2px 10px;">已賣出{{ item.sales }}</span> -->
											</div>
											<div class="col-4">
												<div class="text-center" v-if="item.inventory>0">
													<button href="#" class="btn btn-primary btn-sm" @click="addToCart(item)"
														style="background-color: #ee4d2d; border-color: #ee4d2d;">
														<img src="images/bag.png" width="15" title="加入購物車" />
													</button>

												</div>
												<div class="text-center" v-else>
													<button href="#" class="btn btn-secondary btn-sm disabled"><img src="images/bag.png"
															title="庫存不足" /></button>

												</div>
												<!-- <div class="text-center">庫存{{ item.inventory }}</div> -->
											</div>
										</div>





									</div>
								</div>
							</div>

						</div>

					</div>
				</div>
			</div>
		</div>


		<!-- Modal -->
		<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
			aria-hidden="true">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">購物車</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="row">
							<table class="table table-striped table-dark">
								<thead>
									<tr>
										<th scope="col">#</th>
										<th scope="col">名稱</th>
										<th scope="col">單價</th>
										<th scope="col">數量</th>
										<th scope="col">刪除</th>
									</tr>
								</thead>
								<tbody>
									<tr v-for="(item,index) in list">
										<th scope="row">{{index}}</th>
										<td v-html="item.name"></td>
										<td v-html="item.price"></td>
										<td>
											<button type="button" class="btn btn-sm" @click="minus(item)" title="減少">
												<i class="fa fa-minus" aria-hidden="true"></i>
											</button>
											<span v-html="item.count"></span>
											<button type="button" class="btn btn-sm" @click="plus(item)" title="增加">
												<i class="fa fa-plus" aria-hidden="true"></i>
											</button>
										</td>
										<td>
											<button type="button" class="btn btn-danger btn-sm" @click="delItem(item.id)" title="刪除">
												<i class="fa fa-trash" aria-hidden="true"></i>
											</button>
										</td>
									</tr>

								</tbody>
								<tfoot>
									<tr>
										<td></td>
										<td>總價</td>
										<td>{{totalPrice}}</td>
									</tr>
								</tfoot>
							</table>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
						<button type="button" class="btn btn-primary">下單</button>
					</div>
				</div>
			</div>
		</div>

	</div>

	<script src="./js/jquery-3.2.1.min.js"></script>
	<script src="./styles/bootstrap-4.1.3/popper.js"></script>
	<script src="./styles/bootstrap-4.1.3/bootstrap.min.js"></script>
	<script src="./js/custom.js"></script>
	<script src="./js/vue.min.js"></script>
	<script>
		var allProduct=[{id:1,name:"\u6cb9\u8102\u8abf\u8b77\u690d\u8403\u723d\u819a\u6c34",price:880,description:"\u7522\u54c1\u4e3b\u6210\u5206\uff1a\u9ec3\u82a9\u3001\u84b2\u516c\u82f1\u3001\u91d1\u9280\u82b1",inventory:100,sales:null,img:"product_1.jpg"},{id:2,name:"\u690d\u8403\u4fdd\u6fd5\u6d17\u5378\u51dd\u81a0",price:980,description:"\u517c\u5177\u5378\u599d\u3001\u6e05\u6f54\u3001\u8212\u7de9\u3001\u4fdd\u6fd5\u56db\u6548\u5408\u4e00\uff0c\u5176\u7368\u7279\u5fae\u81a0\u593e\u5e36\u5305\u8986\u539f\u7406\u80fd\u5fb9\u5e95\u6e05\u9664\u6bdb\u5b54\u5167\u7684\u6c61\u57a2\u8207\u81c9\u90e8\u5f69\u599d\uff0c\u5373\u523b\u6062\u5fa9\u6e05\u723d\u6f54\u6de8\uff0c\u4e0d\u542b\u7682\u9e7c\u3001\u9999\u6599\u8207\u9152\u7cbe\uff0c\u96f7\u5c04\u8853\u5f8c\u53ca\u654f\u611f\u6027\u808c\u819a\u5747\u53ef\u4f7f\u7528\u3002",
inventory:200,sales:40,img:"product_2.jpg"},{id:3,name:"\u690d\u8403\u6c34\u5408\u4fdd\u6fd5\u971c",price:1580,description:"\u7522\u54c1\u4e3b\u6210\u5206\uff1a\u767e\u5408\u3001\u5c71\u85e5\u3001\u9280\u8033",inventory:300,sales:10,img:"product_3.jpg"},{id:4,name:"\u5b8c\u7f8e\u7121\u7455\u690d\u8403\u4fdd\u6fd5BB\u971c",price:880,description:"\u7522\u54c1\u4e3b\u6210\u5206\uff1a\u9280\u8033\u3001\u767d\u767e\u5408\u3001\u9280\u8033\u3001\u91ce\u5c71\u85e5\u3001\u73bb\u5c3f\u9178",inventory:400,
sales:10,img:"product_4.jpg"},{id:5,name:"\u690d\u8403\u6c34\u5408\u4fdd\u6fd5\u7cbe\u83ef\u6db2",price:1680,description:"\u7522\u54c1\u4e3b\u6210\u5206\uff1a\u767e\u5408\u3001\u5c71\u85e5\u3001\u9280\u8033",inventory:500,sales:20,img:"product_5.jpg"}];Array.prototype.removeByValue=function(b){for(var a=0;a<this.length;a++)this[a]===b&&(this.splice(a,1),a--);return this};
var List=new Vue({el:"#page-list",data:{product:[],list:[],ids:[],totalPrice:0,keyword:""},created:function(){this.product=JSON.parse(JSON.stringify(allProduct))},methods:{addToCart:function(b){-1==this.ids.indexOf(b.id)?0<b.inventory?(b.count=1,this.list.push(b),this.ids.push(b.id)):alert("\u5eab\u5b58\u4e0d\u8db3\uff01"):this.list.map(function(a){a.name==b.name&&(0<b.inventory?a.count+=1:alert("\u5eab\u5b58\u4e0d\u8db3\uff01"))});this.culTotalPrice()},plus:function(b){this.list.map(function(a){a.name==
b.name&&(0<b.inventory?a.count+=1:alert("\u5eab\u5b58\u4e0d\u8db3\uff01"))});this.culTotalPrice()},minus:function(b){this.list.map(function(a){1!=b.count&&a.name==b.name&&(0<b.inventory?--a.count:alert("\u5eab\u5b58\u4e0d\u8db3\uff01"))});this.culTotalPrice()},delItem:function(b){this.list=this.list.filter(function(a){return a.id!=b});this.ids.removeByValue(b);console.log(this.list);this.culTotalPrice()},culTotalPrice:function(){var b=0;this.list.forEach(function(a){b+=parseFloat(a.price*a.count)});
this.totalPrice=b},searchProduct:function(){var b=this;b.product=""!=b.keyword?allProduct.filter(function(a){return-1!=a.name.toLowerCase().indexOf(b.keyword.toLowerCase())}):allProduct;$(".menu_close").trigger("click")}},computed:{filtered_product:function(){var b=this;return this.product.filter(function(a){var c=!1;["name"].forEach(function(f){-1!=a[f].toLowerCase().indexOf(b.keyword.toLowerCase())&&(c=!0)});return c}).map(function(a){return a}).map(function(a){if(""==b.keyword)return a;var c=JSON.parse(JSON.stringify(a));
["name"].forEach(function(a){var e=new RegExp(b.keyword,"i"),d=c[a].match(e);console.log(d);d&&(c[a]=c[a].replace(e,"<span class='highlight'>"+d[0]+"</span>"))});console.log(c.tag);return c}).sort(function(a,b){})}}});

	</script>
</body>

</html>
